# Loading dataset

In [2]:
import pandas as pd  # convention, alias ``pd``

In [3]:
auto = pd.read_csv("http://www-bcf.usc.edu/~gareth/ISL/Auto.csv") #puts csv into data frame
auto.head()  # print the first lines

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15,8,350,165,3693,11.5,70,1,buick skylark 320
2,18,8,318,150,3436,11.0,70,1,plymouth satellite
3,16,8,304,150,3433,12.0,70,1,amc rebel sst
4,17,8,302,140,3449,10.5,70,1,ford torino

## Let's look at some summary statistics for the data

In [3]:
auto.describe()

,mpg,cylinders,displacement,weight,acceleration,year,origin
count,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000
mean,23.515869,5.458438,193.532746,2970.261965,15.555668,75.994962,1.574307
std,7.825804,1.701577,104.379583,847.904119,2.749995,3.690005,0.802549
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.000000,2223.000000,13.800000,73.000000,1.000000
50%,23.000000,4.000000,146.000000,2800.000000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3609.000000,17.100000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [4]:
auto['mpg'].describe()

count    397.000000
mean      23.515869
std        7.825804
min        9.000000
25%       17.500000
50%       23.000000
75%       29.000000
max       46.600000
Name: mpg, dtype: float64

## Let's try to create a widget using column names

In [4]:
from IPython.display import display
from ipywidgets import interact, interactive, fixed
import ipywidgets as widgets

print(auto.columns.values)
c = list(auto.columns.values)
print(c)

w = widgets.Dropdown(
    options=c, #make sure this is a list
    description='Number:',
)
display(w) #this will be displayed above the printed list

['mpg' 'cylinders' 'displacement' 'horsepower' 'weight' 'acceleration'
 'year' 'origin' 'name']
['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year', 'origin', 'name']

## Let's do something with that widget
### Example 1
The following code uses the describe function we used above and the ipywidget so that we can filter the data based on type. I wrote this with the help of the code under the "Interact" heading https://github.com/ipython/ipywidgets/blob/058a3bdf8c65293cf56e0422d08d00497354d2c3/examples/Using%20Interact.ipynb

In [9]:
def col_summ(car_attribute):
    print(auto[car_attribute].describe())
c = list(auto.columns.values)    
w3 = interactive(col_summ, car_attribute=c)
display(w3)

count    397.000000
mean      23.515869
std        7.825804
min        9.000000
25%       17.500000
50%       23.000000
75%       29.000000
max       46.600000
Name: mpg, dtype: float64

### Example 2
Alternatively, I wrote this using the code under "Using functions with interact"

In [10]:
def col_summ2(car_attribute:c):
    print(auto[car_attribute].describe())
    
interact(col_summ2)

count    397.000000
mean      23.515869
std        7.825804
min        9.000000
25%       17.500000
50%       23.000000
75%       29.000000
max       46.600000
Name: mpg, dtype: float64

In [11]:
def f(a, b):
    return a+b

w2 = interactive(f, a=10, b=20)
display(w2)

def col_summ(col1):
    print(auto[col1].describe())
c = list(auto.columns.values)    
w3 = interactive(col_summ, col1=c)
display(w3)

count    397.000000
mean       5.458438
std        1.701577
min        3.000000
25%        4.000000
50%        4.000000
75%        8.000000
max        8.000000
Name: cylinders, dtype: float64

In [4]:
from pandas.tools.plotting import scatter_matrix
import matplotlib.pyplot
matplotlib.style.use('ggplot')
scatter_matrix(auto, alpha=0.2, figsize=(6, 6), diagonal='kde')

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x0000000008C8A860>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000008D5F668>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000008DA9F28>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000008D70588>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000008E74A90>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000009340278>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000937C898>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x0000000009468588>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000094A4978>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000094F2668>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000952E860>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000009575A58>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000095AF860>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000095FDC88>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000000964C470>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000009687A90>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000096D4780>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000970FB70>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000A72C860>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000A75B668>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000A7A1F28>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000000A7B2470>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000A82BC50>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000A87A748>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000A8BC080>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000A905B38>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000A93EF28>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000A98DC18>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000000A9CAD30>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000AA11F60>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000AA4FD30>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000AAA2080>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000AAEC550>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000AB25D68>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000AB75860>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000000ABB7080>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000ABFEC18>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000AC3AE48>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000AC890B8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000ACBFE48>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000AD12198>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000AD5B668>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000000AD98E80>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000ADE6978>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000AE12DD8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000AE64128>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000AE9EDD8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000AEE5FD0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000AF0ADD8>]], dtype=object)

In [46]:
ts = Series(randn(1000), index=date_range('1/1/2000', periods=1000))

ts = ts.cumsum()

ts.plot()

NameError: name 'Series' is not defined